.eyfsContainer {
  text-align: center;
  align-items: center;
  color: black;
  background-color: white;
  margin: 0.5em;
  padding: 1em;
  border-radius: 10px;
  height: calc(95vh - 5em);
}

.heading {
  font-size: 90px;
}
