.landingContainer {
  text-align: left;
  align-items: left;
  color: #20272c;
  background-color: white;
  margin: 1em;
  padding: 6em 8em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.heading {
  font-size: 80px;
}

.blurb {
  font-size: 60px;
  line-height: 1.2;
}

.smallBlurb {
  font-size: 20px;
  line-height: 1.2;
}
