.container {
  text-align: left;
  display: flex;
}

.container a {
  text-decoration: none;
  color: white;
}

/* .container a:hover {
  background-color: #ffb500;
  color: white;
} */

.homeLink {
  background-color: #457992;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
}

.container span {
  transition: transform 0.3s ease-in-out;
}

.container span:hover {
  transform: scale(1.2);
  background-color: #ffb500;
  color: white;
}
