:root {
  /* font-family: "Quicksand", sans-serif; */
  font-family: "Andika", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  margin: 0;
  background-color: #afcbd9;
  overflow-x: hidden;
  color: #20272c;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}


/* media query for desktop */
@media screen and (min-width: 1024px) {
  .list p,
  .links a {
   